.scoreboard-box {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  text-align: center;
  border: 1px solid;
  padding: 2rem 5rem;
}

.heading {
  background-color: aqua;
  width: 100%;
}
